<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Search persons</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="text-pink-900 bg-indigo-50">
<div class="container mx-auto bg-indigo-100 py-5 rounded-lg font-mono">
    <h1>Admin page</h1>

    <form action="/admin" method="post" id="nameform">

        <label for="id">Enter persons id number:</label>
        <input type="text" id="id" name="id">
    </form>
    <button type="submit" form="nameform" value="Submit">Submit</button>
    <br>
    <h2 class="ml-4"> RESULTS:</h2>
    {% for user in users %}
        {% for id in user %}
            <h2 class="ml-4">   {{ loop.index }} - name: <b>{{id.name}}</b> surname: <b>{{id.surname}}</b> id_number: <b>{{id.id_number}}</b>
                age: <b>{{id.age}}</b> address: <b>{{id.adress}}</b> description: <b>{{id.description}}</b> <br> </h2>
        {% endfor %}
    {% endfor %}
    <br>
    <form action="/admin" method="post" id="usrform">

<textarea rows="4" cols="50" name="newDescription">
    {{ id.description }}

</textarea>
        <input type="hidden" name="id" value="<?PHP echo $id ?>">
        <br><br>
        <input type="submit">
    </form>
</div>


<br>
<div class="container mx-auto bg-gray-200 py-5 rounded-lg font-mono text-sm">
    <h2 class="ml-4"> RESULTS:</h2>
    {% for user in users %}
        {% for id in user %}
            <h2 class="ml-4">   {{ loop.index }} - name: <b>{{id.name}}</b> surname: <b>{{id.surname}}</b> id_number: <b>{{id.id_number}}</b>
                age: <b>{{id.age}}</b> address: <b>{{id.adress}}</b> description: <b>{{id.description}}</b> <br> </h2>
        {% endfor %}
    {% endfor %}
</div>
<br>

</body>
</html>