<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Search persons</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="text-pink-900 bg-indigo-50">
<div class="container mx-auto bg-indigo-100 py-5 rounded-lg font-mono">

    <form action="/admin" method="post" target="_blank" class="float-right font-mono text-sm mr-8 ">
        <button class=" py-2 px-4 ml-4 bg-gray-400 hover:bg-red-700 rounded-lg " type="submit">ADMIN</button>
    </form>

    <h2 class="ml-4">Search Person by name, surname, age, personal ID or address</h2><br>

    <form class="example" method="post" action="/">
        <input type="text" placeholder="Search.." name="search" class="ml-4 rounded">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br>
    <form class="example" method="post" action="/">
        <input type="text" placeholder="Authorize by ID" name="authorize" class="ml-4 rounded">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    {% if authorize %}
        <a href="/?token={{ token }}">Log In</a>
        {% if getToken %}
            <p class="ml-4">Welcome {{ authorize }}!</p>
        {% endif %}
    {% endif %}
</div>
<br>
<div class="container mx-auto bg-gray-200 py-5 rounded-lg font-mono text-sm">
    <h2 class="ml-4"> RESULTS:</h2>
    {% for user in users %}
        {% for id in user %}
            <h2 class="ml-4">   {{ loop.index }} - name: <b>{{ id.name }}</b> surname: <b>{{ id.surname }}</b>
                id_number: <b>{{ id.id_number }}</b>
                age: <b>{{ id.age }}</b> address: <b>{{ id.adress }}</b> description: <b>{{ id.description }}</b> <br>
            </h2>
        {% endfor %}
    {% endfor %}

</div>
<br>
</body>
</html>


